Source: ifupdown-scripts-wa
Section: admin
Priority: extra
Maintainer: Stefan Tomanek <stefan.tomanek+debian@wertarbyte.de>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.1
Homepage: http://wertarbyte.de/
Vcs-Git: git://github.com/wertarbyte/ifupdown-scripts.git
Vcs-Browser: http://github.com/wertarbyte/ifupdown-scripts

Package: ifupdown-scripts-wa
Architecture: all
Depends: ${misc:Depends}
Suggests: bluez-utils, iproute, wireless-tools, ifplugd, vpnc
Provides: ifupdown-scripts-addresses, ifupdown-scripts-pan, ifupdown-scripts-conflicts, ifupdown-scripts-vpnc, ifupdown-scripts-wireless-tools-snooze, ifupdown-scripts-pm
Description: Additional ifupdown scripts for configuring network devices
 This package includes the following scripts:
 * addresses
     allows multiple addresses to be added to an network device
     in a convenient CIDR notation
 * conflicts
     automatically (de)configures an interface when another one comes up
     or goes down
 * pan
     connects your computer to an Bluetooth PAN access point
     before configuring the interface
 * vpnc
     controls a cisco VPN connect through ifupdown
 * wireless-tools-snooze
     waits for association with the access point before retrieving
     an IP address for the wireless network
 * ifupdown-network
    pm-utils script that shuts down specified network devices during
    suspend and restores them during resume
